.titulo{
    text-align: center;
}
/* .inicio{
    text-align: left;
}
.articulo{
    text-align: center;
}
.sobre_mi{
    text-align: right;
} */
.categoria_botones{
    text-align: center;
}
.box{
    width: 500px;
    height: 200px;
    margin: 40px;
    border: 2px solid black;
    text-align:center;
    align-content: center;
}
.articulo_1{
    margin: 30px;
    width: 500px;
    height: 200px;
    border: 2px solid;
    text-align: center;
    align-content: center;
}
.articulo_2{
    margin: 30px;
    width: 500px;
    height: 200px;
    border: 2px solid;
    text-align: center;
    align-content: center;
}
.categorias{
    margin: 0 auto;
    width: 190px;
    height: 460px;
    border: 2px solid;
    align-content: center;
    background-color: rgba(169, 169, 169, 0.21);
    position: relative;
    right: -550px;
    top: -480px;
    
}
.piepagina{
    text-align: center;
    align-content: center;
    background-color: rgba(169, 169, 169, 0.444);
}
.header .nav_opcion{
    list-style: none;
    text-align: center;
}
.header .nav_opcion li{
    display: inline-block;
    padding: 50px;
}
.articulo_general{
    border: 20px solid;
}